.wrapper-decisionVoteList {
    width: 100%;
}
.wrapper-decisionVoteList-buttonGroup {
    width: 100%;
}
.wrapper-decisionVoteList-button {
    height: 60px;
    justify-content: "flex-start" !important;
}
.wrapper-decisionVoteList-button p{
}
.voterDisabled {
    /* background-color: rgba(209, 17, 17, 0.2) !important; */
    background-color: rgba(209, 17, 17, 0.1) !important;
    /* color: #FFF !important; */
}