.wrapper-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 600px;
}
.wrapper-timeline-title h2{
    text-transform:capitalize;
    font-size: min(10vw, 36px);
    padding: 15px;
    margin: 0;
    text-align: center;
}
.wrapper-timeline-title p{
    font-size: 16px;
    padding: 15px;
    margin: 0;
}
.wrapper-timeline-timeline {
    width: 100%;
    max-width: 600px;
    padding-bottom: 10px;
    margin-top: 20px;
}
