.wrapper-decisionBasisWithGraph {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}
.wrapper-decisionBasisWithGraph h3 {
    font-size: min(6vw, 26px);
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    align-self: flex-start;
}
.wrapper-decisionBasisWithGraph p {
    margin: 0 10px 10px 10px;
    padding-top: 0;
}
.wrapper-decisionBasisWithGraph-graph {
    width: 100%;
    max-width: 400px;
}


