.admin {
    background-color: #BFE5DA;
}

.admin-top {
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    background-color: #fff;
    z-index: 999999999;
}

.admin-top-left {
    width: 30%;
    min-width: 300px;
    height: 100%;
    cursor: pointer;
}

.admin-top-mid {
    width: 40%;
    min-width: 300px;
    height: 100%;
}

.admin-top-leftIcon {
    height: 40px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 25px;
}

.admin-top-right {
    width: 30%;
    min-width: 300px;
    display: flex;
    height: 100%;
}

.top-button {
    height: 40px;
    flex: 1;
    margin: 20px 8% 20px 8% !important;
    font-size: 14px !important;
    line-height: 14px !important;
}

.admin-main {
    width: 100vw;
    height: calc(100vh - 80px);
    margin: 0;
    padding: 0;
}

.admin-main-first {}

.admin-main:nth-child(even) {
    background-color: #BFE5DA;
    color: #2AA784;
}

.admin-main:nth-child(odd) {
    background-color: #FBE0E4;
    color: #F6B2BB;
}

.admin-main p {
    padding: 0;
    margin: 0;
}

.admin-main h2 {
    padding: 0;
    margin: 0;
    font-size: 122px;
    margin-left: 20px;
    margin-right: 20px;
}

.admin-main h3 {
    padding: 0;
    margin: 0;
    font-size: 52px;
    margin-left: 25px;
    font-weight: bold;

}

.admin-main:nth-child(even) h2 {
    text-align: left;
}

.admin-main:nth-child(odd) h2 {
    text-align: right;
}

.admin-main-left {
    flex: 50%;
    height: 100%;
    padding: 0 15px 0 15px;
    margin: 0;
    display: inline-block;
}

.admin-main-left p {
    font-size: 26px;
    margin-left: 25px;
}

.admin-main-rigth {
    flex: 50%;
    height: 100%;
    padding: 0 15px 0 15px;
    margin: 0;
    display: inline-block;
}

.admin-main-flex {
    display: flex;
    width: 100%;
    height: calc(100% - 255px);
}

.admin-main-title {
    width: 100%;
    height: 255px;
    padding: 0;
    margin: 0;
}

.boldify {
    font-weight: bold;
}

.admin-player-counter {
    width: 100vw;
    height: calc(100vh - 80px);
    margin: 0;
    padding: 0;
    padding-top: 80px;
    text-align: center;
}

.player-count-text-wrapper {
    width: 400px;
    height: 200px;
    border-radius: 100%;
    display: inline-block;
}

.player-count-text {
    text-align: center;
    font-size: 60px;
    color: #2AA784;
}

.number {
    font-size: 100px;
    padding: 0;
    margin: 0;
}

.bounceAni {
    padding-top: 0px;
    animation-duration: 3.0s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: pulse;
    animation-delay: inherit;
}

.player-count-text-wrapper:nth-child(1) {
    animation-delay: 0s !important;
}

.player-count-text-wrapper:nth-child(2) {
    animation-delay: 0.5s !important;
}

.player-count-text-wrapper:nth-child(3) {
    animation-delay: 1s !important;
}

.player-count-text-wrapper:nth-child(4) {
    animation-delay: 1.5s !important;
}

@keyframes pulse {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}