.wrapper-decisionBasisWithText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
}
.wrapper-decisionBasisWithText h3 {
    font-size: min(6vw, 26px);
    margin: 0;
    padding: 0;
    align-self: flex-start;
}
.wrapper-decisionBasisWithText-text {
    width: 100%;
}


