.wrapper-loading {
    display: flex;
    flex-direction: column;
}
.decision-button {
    display: flex;
    flex-wrap: wrap;
}
.decision-button-inner {
    display: flex;
    margin: 10px;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(211, 211, 211);
    transition: 1s ease;
}
.decision-button-inner:hover {
    transition: 0.5s ease;
    box-shadow: 0px 0px 15px rgb(119, 119, 119);
}